@font-face {
    font-display: swap; 
    font-family: 'Aladin';
    font-style: normal;
    font-weight: 400;
    src: url('../../Assets/Fonts/aladin-v18-latin-regular.woff2') format('woff2'),
         url('../../Assets/Fonts/aladin-v18-latin-regular.woff') format('woff');
  }